@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

#container-card-bogota {
  background: url(../images/imagen-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 180%;
  opacity: 0.9;
  border-radius: 20px;
  border: 4px solid #04688a;
  font-family: "Balsamiq Sans", cursive;
  -webkit-box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.5);
  color: #04688a;
  min-width: 300px;
  font-family: 'Bree Serif', serif;
}

#container-card-bogota:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#container-card-bogota .temp_ {
  font-size: 2.5rem;
}

#container-card-bogota .descrip_ {
  font-size: 2.5rem;
}

#container-card-paris {
  background: linear-gradient(25deg, #90d5eb, #ffffff);
  border-radius: 30px;
  margin: 0;
  width: 50%;
  height: 40%;
  color: #04688a;
  border: 4px solid #04688a;
  margin-left: 43.75rem;
}

#container-card-paris:hover {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.cards-container {
  width: 100%;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 100px;
  text-align: center;
  font-family: "Spectral SC", serif;
}

.cards-container .card {
  width: 330px;
  height: 300px;
  border-radius: 25px;
  margin: auto;
  -webkit-box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.5);
  color: #04688a;
}

.cards-container .card:hover {
  -webkit-box-shadow: linear-gradient(25deg, #fff, #aae2f7);
          box-shadow: linear-gradient(25deg, #fff, #aae2f7);
  border-radius: 15px;
}

.cards-container .card h2 {
  font-size: 1.7rem;
}

.cards-container .card h5 {
  font-size: 1.2rem;
}

.cards-container .card h6 {
  font-size: 1.2rem;
}

.cards-container .card-dia1 {
  background: linear-gradient(25deg, #90d5eb, #ffffff);
  border-radius: 15px;
  border: 4px solid #04688a;
}

.cards-container .card-dia2 {
  background: linear-gradient(25deg, #90d5eb, #ffffff);
  border-radius: 15px;
  border: 4px solid #04688a;
}

.cards-container .card-dia3 {
  background: linear-gradient(25deg, #90d5eb, #ffffff);
  border-radius: 15px;
  margin-bottom: 50px;
  border: 4px solid #04688a;
}

.container-fluid {
  margin-top: 46px;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  background-color: #90d5eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#90d5eb), to(#ffffff));
  background: linear-gradient(to bottom, #90d5eb, #ffffff);
  border-top: 4px solid #04688a;
  min-width: 400px;
}

.card {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.info {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  color: #04688a;
}

@media (max-width: 400px) {
  #container-card-bogota {
    margin-left: 90px;
    background: linear-gradient(25deg, #90d5eb, #ffffff);
  }
  #container-card-bogota .name_ {
    font-size: 25px;
  }
  #container-card-bogota .temp_ {
    font-size: 22px;
  }
  #container-card-bogota .descrip_ {
    font-size: 22px;
  }
}

.footer {
  margin-top: 120px;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  color: #04688a;
}
/*# sourceMappingURL=style.css.map */